import Zdb{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Zdb{{properCase name}}',
  component: Zdb{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Zdb{{properCase name}} },
  template: `
    <div>
      <zdb-{{name}}></zdb-{{name}}>
    </div>
  `
})